.color {
    color: blueviolet;
}

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h1 {
    font-size: 70px;
    line-height: 0.7;
}

p {
    font-size: 20px;
    text-align: justify;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 80px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.half-width img {
    width: 100%;
    padding-left: 30px;

}


.link-button {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
}

.textplace {
    margin-top: 60px;
}

#secondimg {
    width: 70%;
    margin-top: 55px;
    padding-left: 10%;

}

.background {
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.textalign {
    padding-top: 10%;

}