.color {
    color: blueviolet;
}

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h1 {
    font-size: 70px;
    line-height: 0.7;
}

h2 {
    font-size: 50px;
    text-transform: capitalize;
    line-height: 0.7;
}

h3 {
    font-size: 30px;
}

.recipie {
    text-align: center;

}

.recipie p {
    text-align: center;
    margin-left: 30px;
}

p {
    font-size: 20px;
    text-align: justify;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 80px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.half-width img {
    width: 100%;
    padding-left: 30px;

}


.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(blueviolet, blue);
    padding: 10px 40px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
}

.textplace {
    margin-top: 60px;
}

#secondimg {
    width: 70%;
    margin-top: 78px;
    padding-left: 10%;

}

.background {
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.textalign {
    padding-top: 10%;

}

.recipie-title {
    width: 40%;
    padding: 20px;
    height: fit-content;
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
    border: 30px solid white;
    margin-top: 20px;
    margin-bottom: 20px;

}

.recipie-title img {
    width: 100%;
    height: 300px;
}

.flexible-container {
    display: flex;

}

#second {
    margin-left: 100px;
    margin-right: 40px;
}

#first {
    margin-left: 40px;
    margin-right: 100px;

}

.social-media {
    text-transform: capitalize;
    padding-left: 15%;
    margin: 200px;
    border-radius: 20px;
    border: 30px solid white;
    box-shadow: 10px 10px 40px gray;

}